<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mail Spam</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt">
    <link rel="stylesheet" href="~/css/fullcalendar.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/simplebar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/tabler-icons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/tiny-slider.css">
    <link rel="stylesheet" href="~/css/tobii.min.css">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
</head>

<body>
    <div class="page-wrapper landrick-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
                <div class="sidebar-brand">
                    <a href="index.html">
                        <img src="~/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
                        <img src="~/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                        <span class="sidebar-colored">
                            <img src="~/images/logo-light.png" height="24" alt="">
                        </span>
                    </a>
                </div>

                <ul class="sidebar-menu">
                    <li><a asp-controller="Home" asp-action="Index"><i class="ti ti-home me-2"></i>Anasayfa</a></li>
                    <li><a href="javascript:void(0)"><i class="ti ti-browser me-2"></i>Mailler</a></li>
                    <li><a href="javascript:void(0)"><i class="ti ti-brand-gravatar me-2"></i>Çıkış</a></li>
                </ul>
                <!-- sidebar-menu  -->
            </div>

        </nav>
        <!-- sidebar-wrapper  -->
        <div class="page-content bg-light">
        <div class="top-header">
            <div class="header-bar d-flex justify-content-between border-bottom">
                <div class="d-flex align-items-center">
                    <a href="#" class="logo-icon me-3">
                        <img src="~/images/logo-icon.png" height="30" class="small" alt="">
                        <span class="big">
                            <img src="~/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
                            <img src="~/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                        </span>
                    </a>
                    <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </div>

                <ul class="list-unstyled mb-0">
                    <li class="list-inline-item mb-0 ms-1">
                        <div class="dropdown dropdown-primary">
                            <button type="button" class="btn btn-soft-light dropdown-toggle p-0"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="~/images/client/01.jpg" class="avatar avatar-ex-small rounded" alt=""></button>
                            <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 py-3"
                                style="min-width: 200px;">
                                <a class="dropdown-item d-flex align-items-center text-dark pb-3" href="#">
                                    <img src="~/images/client/01.jpg"
                                        class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                    <div class="flex-1 ms-2">
                                        <span class="d-block">Melihcan Kazım Karaca</span>
                                        <small class="text-muted">Software Developer</small>
                                    </div>
                                </a>
                                <a class="dropdown-item text-dark" href="#"><span class="mb-0 d-inline-block me-1"><i
                                            class="ti ti-home"></i></span> Dashboard</a>
                                <a class="dropdown-item text-dark" href="#"><span class="mb-0 d-inline-block me-1"><i
                                            class="ti ti-settings"></i></span> Profile</a>
                                <a class="dropdown-item text-dark" href="#"><span class="mb-0 d-inline-block me-1"><i
                                            class="ti ti-mail"></i></span> Email</a>
                                <div class="dropdown-divider border-top"></div>
                                <a class="dropdown-item text-dark" href="#"><span class="mb-0 d-inline-block me-1"><i
                                            class="ti ti-lock"></i></span> Lockscreen</a>
                                <a class="dropdown-item text-dark" href="#"><span class="mb-0 d-inline-block me-1"><i
                                            class="ti ti-logout"></i></span> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div>
            <main role="main" class="page-content bg-light">
                @RenderBody()
            </main>
        </div>

    </div>
    <!-- page-wrapper -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.init.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
